body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 10vh;
}

a {
    text-decoration: none;
    font-size: 5vh;
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 20px;
}